{{#each hits}}
  <div class='photo-card'>
    <img data-big='{{largeImageURL}}' src='{{webformatURL}}' alt='{{tags}}' />

    <div class='stats'>
      <p class='stats-item'>
        <i class='material-icons'>thumb_up</i>
        {{likes}}
      </p>
      <p class='stats-item'>
        <i class='material-icons'>visibility</i>
        {{views}}
      </p>
      <p class='stats-item'>
        <i class='material-icons'>comment</i>
        {{comments}}
      </p>
      <p class='stats-item'>
        <i class='material-icons'>download</i>
        {{downloads}}
      </p>
    </div>
  </div>
{{/each}}